* {
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

html, body {
  height: 100%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.title {
  /*display: flex;
  align-items: baseline;
  justify-content: center;*/
  position: absolute;
 text-align: center;
 /*position: relative;*/
 left: 50%;
 top: 50%;
 /*padding: 23%;*/
 color: white;
 -webkit-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
}

.title h1 {
  letter-spacing: 6px;
  font-size: 140px;
  padding: 0 0 32px 0;
}

.title p {
  margin-top: 20px;
  font-weight: 300;
  font-size: 37px;
  line-height: 39px;
  letter-spacing: 2px;
}

.title figure, .text.three figure {
  position: relative;
  width: 120px;
  height: 10px;
  margin: 0 auto;
  background: #FF5050;
}

.text {
  position: relative;
  top: 143px;
  left: 106px;
}
.text.two {
  left: 828px;
}

.text.three {
  left: 0;
}
.text h2 {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 80px;
  padding: 0 0 38px 0;
  color: #FF5050;
}

.text h3 {
  letter-spacing: 2px;
  font-size: 35px;
  font-weight: bold;
  padding: 0 0 25px 0;
  color: #3D3A36;
}

.text p {
  font-size: 25px;
  line-height: 39px;
  color: #3D3A36;
  letter-spacing: 1px;
}

.one {
  position: absolute;
  top: 144px;
  left: 86px;
  width: 520px;
  height: 390px;
  background-size: cover;
  background-image: url(../imgs/6.jpeg);
}
.two {
  top: 213px;

}
.picture {
  position: relative;
  background-size: cover;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);

}
.pics {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

}
.pics2 {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
}
#picture1 {
  left: 350px;
  width: 360px;
  height: 440px;
  background-image: url(../imgs/1.png);
}

#picture2 {
  width: 360px;
  height: 440px;
  filter: blur(3px);
  background-image: url(../imgs/k.jpeg);
}

#picture3 {
  width: 240px;
  height: 300px;
  filter: blur(3px);
  background-image: url(../imgs/23.jpeg);
}

#picture4 {
  width: 360px;
  height: 440px;
  filter: blur(3px);
  background-image: url(../imgs/34.jpeg);
}

#picture5 {
  width: 290px;
  height: 360px;
  background-image: url(../imgs/g1.jpeg);
}

#picture6 {
  width: 284px;
  height: 356px;
  background-image: url(../imgs/5.jpeg);
}

#picture7 {
  width: 230px;
  height: 300px;
  background-image: url(../imgs/345.jpeg);
}

#picture8 {
  width: 640px;
  height: 420px;
  padding: 40px;
  filter: blur(3px);
  background-image: url(../imgs/7.jpeg);
}
.footer {
  text-align: center;
}
.footer figure {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #3d3a36;
  height: 90px;
}

#footer {
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 55px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  color: #efefef;
}

.parallax {
 height: 500px;
 height: 100vh;
 overflow-x: hidden;
 overflow-y: auto;
 -webkit-perspective: 300px;
 perspective: 300px;
  width: 1600px;
  margin: 0 auto;
  background-color: white;

}

.parallaxgroup {
 position: relative;
 height: 700px;
 height: 100vh;
 -webkit-transform-style: preserve-3d;
 transform-style: preserve-3d;
 width: 100%;
}

.parallax__layer {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
}

.parallax__layer--fore {
 -webkit-transform: translateZ(90px) scale(.7);
 transform: translateZ(90px) scale(.7);
 z-index: 1;
}

.parallax__layer--base {
 -webkit-transform: translateZ(0);
 transform: translateZ(0);
 z-index: 4;
}

.parallax__layer--back {
 -webkit-transform: translateZ(-300px) scale(2);
 transform: translateZ(-300px) scale(2);
 z-index: 3;
}

.parallax__layer--deep {
 -webkit-transform: translateZ(-600px) scale(3);
 transform: translateZ(-600px) scale(3);
 z-index: 2;
}

@media screen and (max-width: 1440px) {
  .parallax {
    width: 100%;
  }
}

@media screen and (max-width: 1279px) {

  .text.two {
    left: 628px;
  }

  .text h2 {
    letter-spacing: 2px;
    font-size: 80px;
  }

  .text h3 {
    letter-spacing: 2px;
    font-size: 35px;
  }

  .text p {
    font-size: 22px;
    line-height: 30px;
  }

  .one {
    width: 460px;
    height: 354px;
  }
  .two {
    top: 213px;

  }

  .pics {
    margin-top: 120px;
  }
  .pics2 {
    margin-top: 150px;
  }
  #picture1 {
    left: 270px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .full {
    display: none;
  }

  .compact {
    display: block;
  }
  .title h1 {
    letter-spacing: 3px;
    font-size: 110px;
  }

  .title p {
    font-size: 33px;
    line-height: 35px;
  }

}
